<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/styles.css') }}">
    <title>Upload and Plot</title>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <a href="/" class="active">Home</a>
        <a href="/login">Login/Register</a>
        <a href="/created">Created Items</a>
    </div>

    <div class="container">
        <h1>Upload Your Data</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <label for="file">Select a file:</label>
            <input type="file" id="file" name="file" accept=".txt, .csv, .xls, .xlsx" required>
            <button type="submit">Upload</button>
        </form>
    </div>
</body>
</html>
